body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  background-color: rgb(38, 34, 34);
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#header h1 {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #ccc,2px 2px 0px #ccc,3px 3px 0px #ccc,4px 4px 0px #ccc,5px 5px 0px #ccc,6px 6px 0px #ccc,7px 7px 0px #ccc,8px 8px 0px #ccc,9px 9px 0px #ccc,10px 10px 0px #ccc,11px 11px 0px #ccc,12px 12px 0px #ccc,13px 13px 0px #ccc,14px 14px 0px #ccc,15px 15px 0px #ccc,16px 16px 0px #ccc,17px 17px 0px #ccc,18px 18px 0px #ccc,19px 19px 0px #ccc,20px 20px 0px #ccc,21px 21px 0px #ccc,22px 22px 0px #ccc,23px 23px 0px #ccc,24px 24px 0px #ccc,25px 25px 0px #ccc,26px 26px 0px #ccc,27px 27px 0px #ccc,28px 28px 0px #ccc,29px 29px 0px #ccc,30px 30px 0px #ccc,31px 31px 0px #ccc,32px 32px 0px #ccc,33px 33px 0px #ccc,34px 34px 0px #ccc,35px 35px 0px #ccc,36px 36px 0px #ccc,37px 37px 0px #ccc,38px 38px 0px #ccc,39px 39px 0px #ccc,40px 40px 0px #ccc,41px 41px 0px #ccc,42px 42px 0px #ccc,43px 43px 0px #ccc,44px 44px 0px #ccc,45px 45px 0px #ccc,46px 46px 0px #ccc,47px 47px 0px #ccc,48px 48px 0px #ccc,49px 49px 0px #ccc,50px 50px 0px #ccc;
}

#canMaker {
  display: flex;
  padding-top: 100px;
}

#preview {
  position: relative;
  width: 400px;
  height: 600px;
}
#preview img {
  width: 100%;
  position: absolute;
}

#previewBox {
  background-color: rgb(119, 204, 212);
  width: 400px;
  height: 600px;
}

.wrapper {
  margin: 15px auto;
  max-width: 1100px;
}

.container-calendar {
  overflow: auto;
  margin: 0 auto;
  padding: 15px;
  background: #ffffff;
}

.button-container-calendar button {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  border: none;
  background: #00a2b7;
  cursor: pointer;
  border-radius: 4px;
}

.table-calendar {
  width: 45%;
  margin: 20px auto;
  font-weight: 900;
}

.table-calendar td,
.table-calendar th {
  padding: 10px 3px;
  text-align: center;
  vertical-align: top;
}

/* sunday */
.date-picker:nth-child(1) {
  color: red;
}

#monthTxt {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-align: center;
  padding-top: 130px;
  font-size: 54px;
  font-weight: 900;
  text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000, 0px -2px 0 #000, 2px 2px 0px rgba(0, 0, 0, 0);
}

.button-container-calendar {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 1em;
  padding: 10px 0;
  border-top: 1px solid #dadada;
}

.footer-container-calendar select {
  display: inline-block;
  padding: 5px 1em;
  color: #585858;
  border: 1px solid #bfc5c5;
  background: #ffffff;
  cursor: pointer;
  border-radius: 3px;
}